/*
When setting the style for several link states, there are some order rules:

a:hover MUST come after a:link and a:visited
a:active MUST come after a:hover

a:link, a:visited, :hover, :active Lord Vader's old handle: Anakin
*/
/*
---PRIMARY FONTS
Open Sans Light, Regular, Bold (300,400,700)
---SECONDARY TYPEFACES
Josefin Sans Light, Bold (300, 700)
---GRAPHIC ELEMENTS
hr: 3px Gold solid
scrollbar: width 2px, bar gold, bg light gold
slideshow indicator dots: height 8px, active gold, inactive light gold
gradient: #dcd6c5 to #e8e5db
*/
@font-face {
  font-family: "sousa-icons";
  src: url("fonts/sousa-icons.eot");
  src: url("fonts/sousa-icons.eot?#iefix") format("embedded-opentype"), url("fonts/sousa-icons.woff") format("woff"), url("fonts/sousa-icons.ttf") format("truetype"), url("fonts/sousa-icons.svg#sousa-icons") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "sousa-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "sousa-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-down-open-big:before {
  content: "b"; }

.icon-right-open-big:before {
  content: "c"; }

.icon-left-open-big:before {
  content: "d"; }

.icon-up-open-big:before {
  content: "e"; }

.icon-circle:before {
  content: "f"; }

.icon-arrow-down-thin:before {
  content: "h"; }

.icon-location:before {
  content: "a"; }

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  width: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  height: 100%; }

body#page_index {
  background-color: black; }

script {
  display: none; }

.button {
  display: inline-block; }

.hidden {
  display: none !important; }

#loading {
  background-image: url("../img/loading.gif");
  background-position: center;
  background-size: contain;
  display: none;
  width: 100%;
  height: 100%; }

.container {
  min-height: 100%;
  position: relative; }

header {
  display: block;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 100; }

main {
  display: block;
  margin-top: 12.8125rem;
  position: relative;
  padding-bottom: 9.375rem;
  width: 100%; }

#logo {
  padding: 1.15rem 0;
  width: 100%; }

#logo, #nav-level-1 {
  border-bottom: 1px solid #b9a479; }

header nav {
  width: 100%; }

#nav-level-1, #nav-level-1 ul {
  white-space: nowrap;
  width: 100%; }

#nav-level-1 .nav-item {
  display: inline-block;
  min-width: 9.375rem;
  text-align: center;
  height: 3.375rem; }

.nav-item span, .nav-item a {
  color: #b9a479;
  cursor: pointer;
  font-family: 'Josefin Sans';
  font-size: 0.975rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center; }

#nav-level-1 .nav-item a, #nav-level-1 .nav-item span {
  height: 3.375rem;
  line-height: 3.375rem; }

#nav-level-1 .nav-item a:hover, #nav-level-1 .nav-item span:hover {
  color: #9B948E; }

#nav-level-1 .slide-line {
  background-color: #9B948E;
  border-style: solid;
  height: 3px;
  width: 80px;
  margin-top: -3px;
  position: absolute;
  left: 0;
  visibility: hidden; }

#logo-small {
  display: inline-block;
  position: absolute;
  top: 0.5rem;
  left: 4rem;
  visibility: hidden; }

#logo-small img {
  height: auto;
  width: 80%; }

#nav-level-2 {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  display: none;
  height: 345px;
  overflow: hidden;
  width: 100%; }

#nav-level-2 .nav-items {
  list-style: none; }

#nav-level-2 .nav-item {
  display: inline-block;
  margin: 0;
  overflow: hidden;
  padding: 2.5rem 0 1.5625rem 0; }

#nav-level-2 .nav-items .nav-item:first-of-type {
  margin-left: 0; }

#nav-level-2 .nav-items .nav-item:nth-last-of-type(2) {
  margin-right: 0; }

#nav-level-2 .nav-items .nav-item:last-of-type {
  display: block;
  margin: 0;
  padding: 0; }
  #nav-level-2 .nav-items .nav-item:last-of-type a {
    border: 1px #b9a479 solid;
    display: inline-block;
    padding: 1rem; }

#nav-level-2 .nav-item .clip_circle {
  background-color: transparent;
  border-radius: 100%;
  overflow: hidden; }

#nav-level-2 .nav-item img {
  display: block;
  height: 180px;
  margin: 0 auto;
  width: auto;
  transition: transform .65s ease-in-out;
  -ms-transition: transform .65s ease-in-out;
  -webkit-transition: transform .65s ease-in-out;
  -moz-transition: transform .65s ease-in-out; }

#nav-level-2 .nav-item:hover img {
  transform: scale(1.08, 1.08);
  -ms-transform: scale(1.08, 1.08);
  -webkit-transform: scale(1.08, 1.08);
  -moz-transform: scale(1.08, 1.08); }

#overlay {
  background-color: transparent;
  display: none;
  height: 100vh;
  opacity: 0.5;
  position: fixed;
  width: 100%;
  z-index: 100; }

#logo, #nav-level-1 {
  background-image: url("../img/header.png"); }

#page_index main {
  background-color: black; }

.process-step {
  border-bottom: 3px solid #b9a479; }

#process-outro {
  border: 0; }

#process-outro .slide {
  border: 0; }

.process-step {
  background-color: black;
  display: block;
  height: 110vh;
  width: 100%;
  z-index: 60;
  overflow: hidden;
  vertical-align: middle; }

.process-step .slides {
  background-color: black;
  height: 100%;
  width: 200%;
  overflow: hidden;
  position: relative; }

.process-step .slide {
  background-attachment: fixed;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  float: left;
  height: 100%;
  position: relative;
  width: 50%; }

#process-step-1 .slides, #process-step-3 .slides, #process-step-5 .slides, #process-step-6 .slides {
  width: 400%; }

#process-step-1 .slide, #process-step-3 .slide, #process-step-5 .slide, #process-step-6 .slide {
  width: 25%; }

#process-step-2 .slides, #process-step-4 .slides {
  width: 300%; }

#process-step-2 .slide, #process-step-4 .slide {
  width: 33.33333%; }

#process-intro .slide1 {
  background-image: url("../img/homepage_pic_banner01.jpg");
  background-position: center 12.8125rem; }

#process-step-1 .slide1 {
  background-image: url("../img/step1_01.jpg");
  background-position: center; }

#process-step-1 .slide2 {
  background-image: url("../img/step1_02.jpg");
  background-position: center; }

#process-step-1 .slide3 {
  background-image: url("../img/step1_03.jpg");
  background-position: center; }

#process-step-1 .slide4 {
  background-image: url("../img/step1_04.jpg");
  background-position: center; }

#process-step-2 .slide1 {
  background-image: url("../img/step2_01.jpg");
  background-position: 20%; }

#process-step-2 .slide2 {
  background-image: url("../img/step2_02.jpg");
  background-position: center; }

#process-step-2 .slide3 {
  background-image: url("../img/step2_03.jpg");
  background-position: center; }

#process-step-3 .slide1 {
  background-image: url("../img/step3_01.jpg");
  background-position: 50% 30%; }

#process-step-3 .slide2 {
  background-image: url("../img/step3_02.jpg");
  background-position: center; }

#process-step-3 .slide3 {
  background-image: url("../img/step3_03.jpg");
  background-position: center; }

#process-step-3 .slide4 {
  background-image: url("../img/step3_04.jpg");
  background-position: center; }

#process-step-4 .slide1 {
  background-image: url("../img/step4_01.jpg");
  background-position: 60%; }

#process-step-4 .slide2 {
  background-image: url("../img/step4_02.jpg");
  background-position: 30%; }

#process-step-4 .slide3 {
  background-image: url("../img/step4_03.jpg");
  background-position: 30%; }

#process-step-5 .slide1 {
  background-image: url("../img/step5_01.jpg");
  background-position: center; }

#process-step-5 .slide2 {
  background-image: url("../img/step5_02.jpg");
  background-position: 35%; }

#process-step-5 .slide3 {
  background-image: url("../img/step5_03.jpg");
  background-position: center; }

#process-step-5 .slide4 {
  background-image: url("../img/step5_04.jpg");
  background-position: 35%; }

#process-step-6 .slide1 {
  background-image: url("../img/step6_01.jpg");
  background-position: center; }

#process-step-6 .slide2 {
  background-image: url("../img/step6_02.jpg"); }

#process-step-6 .slide3 {
  background-image: url("../img/step6_03.jpg");
  background-position: center; }

#process-step-6 .slide4 {
  background-image: url("../img/step6_04.jpg"); }

#process-outro .slide1 {
  background-image: url("../img/homepage_pic_dealer.jpg");
  background-position: 70% bottom; }

.process-step {
  position: relative;
  vertical-align: middle; }

.process-step .overlay {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; }

.process-step .overlay > div {
  display: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%; }

.process-step .overlay img {
  display: block;
  margin: 0 auto;
  text-align: center; }

.process-step .overlay p {
  color: #b9a479;
  font-family: 'Open Sans';
  line-height: 150%;
  margin: 2.5rem 30%;
  text-align: center; }

.process-step .overlay .action_close {
  cursor: pointer; }

.process-step .content {
  background-color: transparent;
  display: table;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 50; }

.process-step .content > * {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.process-step .content .prev, .process-step .content .next {
  cursor: pointer;
  text-align: center;
  width: 5%; }

.process-step .step-title {
  text-align: center;
  white-space: no-wrap;
  width: 60%; }

.process-step .content h1 {
  color: #b9a479;
  font-family: 'Josefin Sans';
  text-transform: uppercase; }

#process-intro .content h1, #process-outro h1 {
  font-size: 2rem;
  letter-spacing: 0; }

.process-step .step-title {
  font-size: 4.25rem;
  letter-spacing: .5px; }

@media screen and (max-width: 1500px) {
  .process-step .step-title {
    font-size: 4.25rem; } }
.content .process-text_wrap {
  width: 30%; }

/*
.content .process-text_bg {
    background-color: rgba(0,0,0,0.5); //OPT
    overflow: hidden;
    margin: 0 auto;
    width: 5/6 * 100%;
}*/
.content .process-text {
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin: 0 auto;
  width: 83.33333%;
  /*background-color: none;*/
  color: #b9a479;
  font-family: 'Open Sans';
  padding: 4.375rem;
  text-align: left;
  font-size: 1rem;
  line-height: 175%; }

@media screen and (max-width: 1680px) {
  .content .process-text {
    font-size: .9rem;
    padding: 3.125rem; } }
.content .process-text .action_open {
  display: block;
  cursor: pointer;
  margin: 2.5rem auto 0 auto; }

.content .process-text + .process-text {
  display: none; }

#process-intro {
  margin-top: 12.8125rem;
  position: relative; }

#process-intro .content {
  margin-top: 7.1875rem;
  display: block;
  text-align: center; }

#process-intro .content > *, #process-outro .content > * {
  display: block; }

#process-intro h1 {
  line-height: 120%;
  padding-bottom: 2rem;
  white-space: nowrap; }

#process-intro .icon {
  cursor: pointer;
  margin: 0 auto;
  text-align: center; }

#process-outro h2 {
  line-height: 120%;
  white-space: nowrap; }

#process-outro .content {
  display: inline-block;
  text-align: center;
  transform: translateY(40%);
  width: 50%; }

#process-outro .button {
  border: 2px #b9a479 solid;
  display: inline-block;
  margin: 2rem auto;
  color: #b9a479;
  padding: 2.8125rem 0.9375rem;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap; }

#process-outro .button span {
  display: inline-block;
  font-family: 'Josefin Sans';
  font-size: 2rem;
  margin: 0;
  position: relative;
  bottom: 2px;
  vertical-align: middle; }

#process-outro .button img {
  margin-right: 0.5rem;
  vertical-align: middle; }

#process-outro .content > span {
  font-family: "Josefin Sans";
  font-size: 1rem;
  color: #b9a479;
  white-space: nowrap;
  text-transform: uppercase; }

/*#process-step-2 .step-title, #process-step-4 .step-title {
    text-align: right;
}*/
#map {
  width: 100%;
  height: 85vh;
  z-index: 0; }

.map {
  position: relative; }

/*.map #map_search {
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    background: rgba(255,255,255,0.85);
    border: 2px solid $gold;
    z-index: 1000;
    width: rem-calc(270);
    height: rem-calc(60);
    white-space: nowrap;
    .placeholder {
        position: relative;
        color: $gold;
        font-family: 'Josefin Sans';
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: center;
        top: 25%;
        img, span {
            vertical-align: middle;
        }
    }

    .searchbox {
        display: none;
        height: 100%;
        width: 100%;
    }
    input {
        display: inline-block;
        background: transparent;
        color: $gold;
        border: 0;
        font-family: 'Open Sans';
        font-size: 1rem;
        padding: 0.75rem;
        width: 80%;
        outline: none;
    }
    #pac-button {
        cursor: pointer;
        display: inline-block;
        background: transparent;
        color: $gold;
        text-transform: uppercase;
        font-family: 'Open Sans';
        font-size: 1.5rem;
        height: 100%;
        width: 20%;
        border-left: 2px solid $gold;
        padding: 1rem 0;
        text-align: center;
        text-decoration: none;
        &:active {
            background: $gold;
            color: $white;
        }
    }
}*/
#page_bow .lightcase-icon-close:before {
  content: url(../img/close.png) !important; }
#page_bow #lightcase-loading {
  text-shadow: none;
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none; }
#page_bow .lightcase-icon-spin:before {
  content: url(../img/loading.gif) !important; }
#page_bow #lightcase-overlay {
  background: white !important; }
#page_bow #lightcase-case:not([data-type=error]) .lightcase-content {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important; }

#bow {
  background-color: white;
  display: block;
  padding-top: 3rem;
  width: 100%;
  z-index: 1000; }

#bow .instrument {
  color: #b9a479;
  font-size: 1.375rem;
  margin-bottom: 1rem; }

#bow .instrument, #bow .models {
  font-family: 'Josefin Sans';
  font-size: inherit;
  text-align: center;
  text-transform: uppercase; }

#bow .models {
  display: block;
  margin-bottom: 2rem; }

#bow .model {
  border-right: 1px solid #9B948E;
  cursor: pointer;
  display: inline;
  padding: 0 1rem; }

#bow .model a {
  color: #acacac;
  font-family: 'Josefin Sans';
  font-size: inherit;
  text-decoration: none; }
  #bow .model a.selected {
    font-family: 'Josefin Sans';
    font-size: inherit;
    font-weight: 700; }

#bow .model:first-of-type {
  padding-left: 0; }

#bow .model:last-of-type {
  border: 0;
  padding-right: 0; }

#bow .carousel {
  position: relative;
  max-height: 451px;
  text-align: center;
  white-space: nowrap;
  width: 100%; }

#bow img {
  max-height: 451px; }

#bow .slides {
  display: inline-block;
  max-width: 1024px;
  width: 80%;
  vertical-align: middle; }

#bow .prev, #bow .next {
  color: #b9a479;
  cursor: pointer;
  display: inline-block;
  font-family: 'sousa-icons';
  font-size: 1.875rem;
  height: inherit;
  line-height: 1.875rem;
  position: relative;
  text-align: center;
  width: 10%;
  z-index: 0;
  -webkit-transition: all 2s;
  transition: all 2s ease; }

#bow .slide {
  vertical-align: middle; }

#bow .slide a {
  display: inline-block;
  vertical-align: middle; }

#bow #slides img {
  display: inline-block;
  height: auto;
  width: 100%; }

.slick-slide, .slick-loading {
  background: #fff url("../img/loading.gif") center center no-repeat;
  height: 100%;
  min-height: 33px;
  min-width: 33px; }

/*

#bow .slides #load img {
    height: 32px;
    width: 32px;
}*/
#bow .fittings {
  display: block;
  margin: 0 auto;
  min-width: 15.625rem;
  padding: 3.125rem 0;
  text-align: center;
  vertical-align: top;
  width: 15%; }

#bow .fitting {
  display: inline-block;
  vertical-align: top;
  height: 4.6875rem; }

#bow .fitting a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  width: 5rem; }

#bow .fitting a:before {
  /*    border: 1px solid;
      border-radius: 50%;
      content: 'f';
      font-family: 'sousa-icons';
      font-size: rem-calc(20);*/
  padding: 0.1875rem; }

#bow .fitting a:hover:before, #bow .selected a:before {
  font-family: 'Open Sans';
  font-size: 1rem;
  position: relative;
  top: 5px; }

#bow .f_gold a:before {
  content: url(../img/icon_gold.png); }

#bow .f_silver a:before {
  content: url(../img/icon_silver.png); }

#bow .f_nickel a:before {
  content: url(../img/icon_nickel-silver.png); }

#bow .f_gold a:hover:before, #bow .f_gold.selected a:before {
  color: #b5a27b;
  content: "gold"; }

#bow .f_silver a:hover:before, #bow .f_silver.selected a:before {
  color: #d7d7d7;
  content: "silver"; }

#bow .f_nickel a:hover:before, #bow .f_nickel.selected a:before {
  color: #c6c4b5;
  content: "nickel"; }

#bow .description {
  color: #d7d7d7;
  font-family: 'Open Sans';
  font-size: 0.85rem;
  margin: 0 auto;
  width: 24.375rem; }

#bow .description p {
  line-height: 125%;
  margin-bottom: 1.25rem; }

.uppercase {
  text-transform: uppercase; }

.bold {
  font-weight: bold; }

.banner {
  height: auto;
  max-width: 100%; }

#page_privacy-policy main, #page_terms-of-use main {
  color: #6d6d6d; }
  #page_privacy-policy main a, #page_terms-of-use main a {
    color: #b9a479; }

#page_privacy-policy main nav, #page_terms-of-use main nav {
  margin-bottom: 3.4375rem;
  padding-top: 3.75rem;
  text-align: center; }

#page_privacy-policy main nav span, #page_terms-of-use main nav span {
  display: inline-block;
  border-right: 2px solid #b9a479;
  font-family: 'Josefin Sans';
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0 .7rem; }
  #page_privacy-policy main nav span a, #page_terms-of-use main nav span a {
    color: #b9a479;
    text-decoration: none; }
  #page_privacy-policy main nav span:first-of-type, #page_terms-of-use main nav span:first-of-type {
    padding-left: 0; }
  #page_privacy-policy main nav span:last-of-type, #page_terms-of-use main nav span:last-of-type {
    border: 0;
    padding-right: 0; }

#page_privacy-policy article, #page_terms-of-use article {
  font-family: 'Open Sans';
  font-size: 0.84375rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 150%;
  margin: 0 21%; }
  #page_privacy-policy article p, #page_privacy-policy article ul, #page_privacy-policy article ol, #page_privacy-policy article ol li, #page_terms-of-use article p, #page_terms-of-use article ul, #page_terms-of-use article ol, #page_terms-of-use article ol li {
    margin: 1.875rem 0; }
  #page_privacy-policy article ol, #page_terms-of-use article ol {
    list-style-position: outside;
    list-style-type: upper-roman;
    margin-left: 4.6875rem; }
  #page_privacy-policy article ul, #page_terms-of-use article ul {
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 4.6875rem; }
  #page_privacy-policy article h1, #page_terms-of-use article h1 {
    font-size: 1.0625rem;
    font-weight: bold; }
  #page_privacy-policy article h2, #page_terms-of-use article h2 {
    font-style: italic;
    font-weight: bold; }
  #page_privacy-policy article h2 + p, #page_terms-of-use article h2 + p {
    margin-top: 0; }

#page_contact main {
  background-image: url("../img/contact_background.jpg");
  background-position: center -150px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #b9a479;
  display: block;
  font-family: 'Open Sans';
  font-size: 0.84375rem;
  width: 100%; }
#page_contact main a {
  color: #b9a479;
  text-decoration: none; }
#page_contact .contact_info, #page_contact .contact_form {
  background: transparent;
  display: inline-block;
  padding-top: 9.25926%;
  vertical-align: top; }
#page_contact .contact_info {
  color: #acacac;
  font-size: 1.10rem;
  line-height: 115%;
  width: 35%; }
#page_contact .contact_info > div {
  width: 50%;
  margin: 0 auto;
  white-space: nowrap; }
#page_contact .contact_info > div > div {
  text-align: left; }
#page_contact .contact_info a {
  color: inherit; }
#page_contact .contact_info > div div {
  margin-bottom: 1.5rem; }
#page_contact .contact_info img, #page_contact .contact_info span {
  display: inline-block;
  vertical-align: middle; }
#page_contact .contact_info img {
  margin-right: 1rem; }
#page_contact .contact_form {
  padding-bottom: 34.375rem;
  min-width: 35.625rem;
  width: 30%; }
#page_contact .contact_form input, #page_contact .contact_form textarea {
  background: transparent;
  border: 2px #b9a479 solid;
  font-family: 'Open Sans';
  font-size: 1.05rem;
  font-weight: normal;
  margin-bottom: 1rem;
  padding-left: 1rem;
  width: 100%; }
  #page_contact .contact_form input::-webkit-input-placeholder, #page_contact .contact_form textarea::-webkit-input-placeholder {
    color: #b9a479; }
  #page_contact .contact_form input:-moz-placeholder, #page_contact .contact_form textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #b9a479; }
  #page_contact .contact_form input::-moz-placeholder, #page_contact .contact_form textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #b9a479; }
  #page_contact .contact_form input:-ms-input-placeholder, #page_contact .contact_form textarea:-ms-input-placeholder {
    color: #b9a479; }
#page_contact .contact_form input {
  height: 3.75rem; }
#page_contact .contact_form .form_email {
  display: inline-block;
  width: 50%; }
  #page_contact .contact_form .form_email:first-of-type {
    padding-right: 1rem; }
  #page_contact .contact_form .form_email:last-of-type {
    padding-left: 1rem; }
#page_contact .contact_form textarea {
  height: 10.625rem;
  margin-bottom: 0.75rem; }
#page_contact .contact_form button {
  border: 0;
  display: block;
  float: right;
  background-color: #b9a479;
  color: white;
  font-family: 'Open Sans';
  font-size: 0.8125rem;
  height: 3.125rem;
  line-height: 2.1875rem;
  padding: 0 0.9375rem;
  text-align: center;
  text-transform: uppercase; }
#page_contact .contact_form .error {
  color: maroon;
  display: block;
  vertical-align: middle; }

#page_our-bows #load {
  background-image: url("../img/loading.gif");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  display: none;
  margin: 0 auto;
  min-height: 32px;
  width: 100%; }
#page_our-bows main {
  margin-left: auto;
  margin-right: auto;
  width: 75%; }
#page_our-bows .filter {
  padding-bottom: 2rem;
  padding-top: 3rem;
  text-align: center;
  width: 100%; }
#page_our-bows .filter li {
  border-right: 1px solid #9B948E;
  display: inline-block;
  padding: 0 1rem; }
  #page_our-bows .filter li:first-of-type {
    padding-left: 0; }
  #page_our-bows .filter li:last-of-type {
    border: 0;
    padding-right: 0; }
#page_our-bows .filter a {
  color: #777777;
  display: block;
  font-family: 'open sans';
  font-size: 1.35rem;
  text-decoration: none;
  text-transform: uppercase; }
  #page_our-bows .filter a.selected {
    font-weight: bold; }
#page_our-bows .view {
  width: 100%; }
#page_our-bows .row {
  border-top: #b9a479 1px solid;
  margin-bottom: 1rem;
  padding-top: 1rem; }
#page_our-bows .row h1 {
  color: #b9a479;
  font-family: 'open sans';
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase; }
#page_our-bows .row .bow {
  display: inline-block;
  margin-bottom: 2rem;
  margin-right: 2%;
  vertical-align: top; }
  #page_our-bows .row .bow:last-of-type {
    margin-right: 0; }
  #page_our-bows .row .bow a {
    text-decoration: none; }
  #page_our-bows .row .bow img, #page_our-bows .row .bow > span {
    display: block; }
  #page_our-bows .row .bow img {
    height: 175px;
    width: 125px; }
  #page_our-bows .row .bow span span {
    color: #777777;
    display: block;
    font-family: 'Open Sans';
    font-size: .85rem;
    font-weight: bold;
    text-transform: capitalize;
    white-space: nowrap; }

#page_dealers {
  /*
      #map {
          width: 100%;
          height: 50vh;
          .dealer {
              margin: 0;
              padding: 10px 0;
              height: auto;
              width: auto;
              overflow: hidden;
          }
      }*/ }
  #page_dealers main {
    width: 100%; }
  #page_dealers #dealers {
    padding-top: 4rem;
    padding-bottom: 4rem;
    overflow-x: scroll;
    width: 100%; }
    #page_dealers #dealers .action_close {
      cursor: pointer;
      display: inline-block;
      float: left;
      margin-right: 2rem;
      margin-left: 2rem;
      vertical-align: top; }
    #page_dealers #dealers > div {
      white-space: nowrap;
      vertical-align: top; }
  #page_dealers .dealer {
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
    vertical-align: top; }
  #page_dealers .dealer_name, #page_dealers .dealer_address, #page_dealers .dealer_phone {
    color: #9B948E;
    display: block;
    font-family: 'Open Sans';
    line-height: 125%;
    margin-bottom: 1rem;
    white-space: nowrap; }
  #page_dealers .dealer_name {
    font-size: 1.15rem;
    font-weight: bold; }
  #page_dealers .dealer_phone {
    margin-bottom: 0; }
  #page_dealers .map_container {
    position: relative;
    width: 100%; }
  #page_dealers #controls {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 1000; }
  #page_dealers #directory {
    color: #acacac;
    font-family: 'Open Sans'; }
    #page_dealers #directory .dir_locations {
      display: table;
      margin: 0 auto;
      width: 60%; }
    #page_dealers #directory .dir_column {
      display: table-cell;
      padding: 0 3%;
      vertical-align: top;
      width: 20%; }
    #page_dealers #directory .dir_city, #page_dealers #directory .dir_state {
      display: block;
      white-space: nowrap; }
    #page_dealers #directory .dir_state, #page_dealers #directory .dir_country {
      text-transform: uppercase; }
    #page_dealers #directory .dir_country {
      margin-top: 4.5rem;
      margin-bottom: 5.3125rem;
      text-align: center; }
      #page_dealers #directory .dir_country span {
        border: 2px solid #b9a479;
        display: inline-block;
        font-family: 'Josefin Sans';
        font-size: 1.3rem;
        font-weight: normal;
        color: #b9a479;
        padding: 1.2rem 1.3rem; }
    #page_dealers #directory .dir_state {
      font-family: 'Open Sans';
      font-size: 1rem;
      margin-bottom: 2.5rem; }
    #page_dealers #directory .dir_state h2 {
      margin-bottom: .5rem; }
    #page_dealers #directory .dir_city {
      color: inherit;
      font-family: 'Open Sans';
      font-size: .9rem;
      font-weight: normal;
      line-height: 125%;
      text-decoration: none;
      text-transform: none; }

footer {
  position: absolute;
  bottom: 0;
  height: 9.375rem;
  width: 100%; }

footer > div:last-of-type {
  height: 2.5rem; }

footer > div:first-of-type {
  background-color: #2F2F2F;
  height: 6.875rem;
  color: #b9a479;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 100%; }

footer > div:first-of-type > div {
  width: 100%;
  margin-top: 2rem; }

footer nav, footer .social, footer .subscribe {
  display: inline-block; }

footer nav {
  width: 50%; }

footer nav a {
  color: inherit;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0 1rem;
  text-decoration: none;
  text-transform: uppercase; }

footer .social {
  font-size: 2rem;
  width: 30%; }

footer .social .icon {
  margin: 0 0.3125rem; }

footer .subscribe {
  width: 50%;
  white-space: nowrap; }
  footer .subscribe form {
    width: 100%; }

footer .subscribe #success_message {
  font-family: 'Open Sans';
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 0;
  position: relative;
  left: 0; }

footer .subscribe_status {
  position: relative;
  left: 0;
  text-align: center;
  width: 100%; }
  footer .subscribe_status div {
    background-color: black;
    border-radius: 7px;
    color: white;
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 0.8rem;
    margin: 0 auto;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 200px;
    z-index: 1000;
    white-space: normal; }

footer .subscribe input, footer .subscribe button {
  display: inline-block;
  height: 3rem;
  white-space: nowrap;
  margin: 0;
  vertical-align: middle; }

footer .subscribe button {
  background-color: #b9a479;
  border: 0;
  padding: 0; }

footer .subscribe input {
  background-color: #EBE6DB;
  border: 0;
  color: #b9a479;
  font-family: 'Open Sans';
  font-size: 0.9rem;
  padding-left: 1rem;
  min-width: 18.75rem;
  vertical-align: top; }

footer .subscribe button .shape {
  float: left;
  background-color: #EBE6DB;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 24px 15px 24px 0;
  border-color: transparent #b9a479 transparent transparent; }

footer .subscribe button .text {
  color: #303030;
  background-color: #b9a479;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 3rem;
  padding-right: 0.6rem;
  text-decoration: none;
  text-transform: uppercase; }

footer .subscribe button .shape, footer .subscribe button .text {
  -moz-transform: translate(-3px, -1px); }

footer .copyright {
  background-color: #232323;
  color: #b9a479;
  display: block;
  font-family: 'Open Sans';
  font-size: 0.75rem;
  padding: 0.6rem 0;
  text-align: center;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
